<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0873A52D-C4C1-4953-BED7-994F6BC4E2E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9873A051-3742-4689-99C4-49E052773099</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DB16C77F-018F-4384-A831-FB58D24EC9E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0873A52D-C4C1-4953-BED7-994F6BC4E2E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Toggle unblockus DNS servers in settings</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Unblockus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>sh ./unblockus.sh {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0873A52D-C4C1-4953-BED7-994F6BC4E2E4</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>unblock</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Unblock</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DB16C77F-018F-4384-A831-FB58D24EC9E6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Unblockus</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9873A051-3742-4689-99C4-49E052773099</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0873A52D-C4C1-4953-BED7-994F6BC4E2E4</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>9873A051-3742-4689-99C4-49E052773099</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>DB16C77F-018F-4384-A831-FB58D24EC9E6</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
